html, body {
  width: 100%;
}

h1 {
  text-align: center;
}

#image-show {
  text-align: center;
}

#image-list {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.image {
  width: 132px;
  height: 150px;
  padding: 0.5em;
  text-align: center;
}

#star {
  width: 100%;
  word-wrap: break-word;
}
