<!DOCTYPE html>
<html>
<head>
<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='pyazo.css') }}">
<meta charset="utf-8">
<title>Pyazo</title>
</head>
<body>
<h1>Pyazo</h1>
<hr>
<div id="image-show">
<img src="{{ url_for('show_image', id=id) }}">
</div>
<p><button type="button" id="star-button">☆</button>x<span id="star-count">{{image.star}}</span></p>
<div id="star">
{{ '★'*image.star }}
</div>
<script>
document.getElementById('star-button').addEventListener('click', function(){
  var xhr = new XMLHttpRequest();
  xhr.open('POST', '/star/{{id}}');
  xhr.addEventListener('load', function(){
    var result = JSON.parse(xhr.responseText).result;
    if (result.ok) {
      document.getElementById('star').innerText += '★';
      document.getElementById('star-count').innerText = Number(document.getElementById('star-count').innerText)+1;
    }
  });
  xhr.send(null)
});

document.addEventListener('keyup', function(evt){
  if(evt.keyCode == 0x0D)
    document.getElementById('star-button').click();
});
</script>
</body>
</html>
